<img src="imgs/mesttra.png" alt="mesttra_logo" style="width: 200px;"/>

# Pandas
___

Pandas é a principal biblioteca de manipulação e análise de dados em Python. Ela é perfeita para análises exploratórias, pois permite ler, manipular, agregar e até plotar um conjunto de dados em poucos passos. Pandas possui duas estruturas básicas, a primeira é a Série (uma dimensão) e o DataFrame(duas dimensões) resumidamente chamado de ```df```.

In [2]:
## coletando os dados

!wget 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv'

--2021-07-03 08:52:35--  https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 264426 (258K) [application/x-httpd-php]
Saving to: ‘winequality-white.csv’

winequality-white.c 100%[===================>] 258,23K   308KB/s    in 0,8s

2021-07-03 08:52:38 (308 KB/s) - ‘winequality-white.csv’ saved [264426/264426]

In [3]:
## importando os pandas

import pandas

Ao importar uma biblioteca podemos atribuir um apelido (alias) a ela. Isso é uma boa prática e existem alguns apelidos que são tão utilizados que já viraram sinônimo da própria biblioteca.

In [5]:
import pandas as pd
import numpy as np

pandas.read_csv('winequality-white.csv')

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0      7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1     6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2     8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
...                                                 ...
4893  6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...
4894  6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...
4895  6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....
4896  5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...
4897  6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...

[4898 rows x 1 columns]

Podemos ainda escolher exatamente a função que gostaríamos de importar. Esse não é um método recomendado, pois causa confusão na leitura do código.

In [6]:
from pandas import read_csv

read_csv('winequality-white.csv')

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0      7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1     6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2     8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
...                                                 ...
4893  6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...
4894  6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...
4895  6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....
4896  5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...
4897  6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...

[4898 rows x 1 columns]

In [11]:
read_csv('winequality-white.csv',sep=';')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

## O Dataframe

In [8]:
## criando um dataframe

arr = np.arange(36).reshape(6,6)
df = pd.DataFrame(arr,                                                                       ## dados
                  columns=['idade','altura','tamanho do pe','salario','cor_do_olho','peso'], ##nome das colunas
                  index=['nasser','joao','marcelo','maria','joana','raquel'])                ## indices

df

         idade  altura  tamanho do pe  salario  cor_do_olho  peso
nasser       0       1              2        3            4     5
joao         6       7              8        9           10    11
marcelo     12      13             14       15           16    17
maria       18      19             20       21           22    23
joana       24      25             26       27           28    29
raquel      30      31             32       33           34    35

In [9]:
## acessando a série idade do dataframe acima

df.idade

nasser      0
joao        6
marcelo    12
maria      18
joana      24
raquel     30
Name: idade, dtype: int64

In [10]:
df['cor do olho']

KeyError: 'cor do olho'

In [10]:
df.columns

Index(['idade', 'altura', 'tamanho do pe', 'salario', 'cor_do_olho', 'peso'], dtype='object')

In [11]:
df.columns = [x.replace(' ','_') for x in df.columns]

In [12]:
df

         idade  altura  tamanho_do_pe  salario  cor_do_olho  peso
nasser       0       1              2        3            4     5
joao         6       7              8        9           10    11
marcelo     12      13             14       15           16    17
maria       18      19             20       21           22    23
joana       24      25             26       27           28    29
raquel      30      31             32       33           34    35

In [13]:
for coluna in df.columns:
    print(coluna)

idade
altura
tamanho_do_pe
salario
cor_do_olho
peso

In [14]:
df.cor_do_olho

nasser      4
joao       10
marcelo    16
maria      22
joana      28
raquel     34
Name: cor_do_olho, dtype: int64

In [15]:
pd.Series([1,2,3,4,10],index=['a','b','c','d','e'],name='numeros',dtype='int64')

a     1
b     2
c     3
d     4
e    10
Name: numeros, dtype: int64

In [16]:
df['altura'] = 0

In [17]:
df['dedos_da_mao'] = [9,10,np.nan,10.0,10,10]

In [18]:
df.dedos_da_mao.dtype

dtype('float64')

In [19]:
df.dedos_da_mao.marcelo

nan

In [21]:
df.dedos_da_mao.joao = 5

In [22]:
df

,idade,altura,tamanho_do_pe,salario,cor_do_olho,peso,dedos_da_mao
nasser,0,0,2,3,4,5,9.0
joao,6,0,8,9,10,11,5.0
marcelo,12,0,14,15,16,17,NaN
maria,18,0,20,21,22,23,10.0
joana,24,0,26,27,28,29,10.0
raquel,30,0,32,33,34,35,10.0

## read_csv()

In [ ]:
## lendo um arquivo csv

df = pd.read_csv('/content/winequality-white.csv',sep=';')
df.head()

In [ ]:
df.shape

In [ ]:
type(df)

In [ ]:
## lendo um arquivo csv com chunks

ls_quality = []
ls_alcohol = []

df_chunk = pd.read_csv('/content/winequality-white.csv',sep=';',chunksize=100)
type(df_chunk)

In [ ]:
for chunk in df_chunk:
    ls_quality.append(chunk.quality.values)
    ls_alcohol.append(chunk.alcohol.values)

In [ ]:
boas_qualidades = []

x = pd.read_csv('winequality-white.csv',sep=';',chunksize=100)

for a in x:
    for value in a['quality']:
        if value > 5:
            boas_qualidades.append(value)

In [ ]:
len(boas_qualidades)

## head, tail, info, shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.info()

## indexação / fatiamento